<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hgo.btprint4" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name="hgo.btprint4.BtPrint4"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="hgo.btprint4.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
<!--list demo file picker -->
        <activity
            android:name=".DemoListActivity"
            android:label="@string/select_file"
            android:theme="@android:style/Theme.Dialog" />

        <!--browse for file picker -->
        <activity
            android:name=".FileChooser"
            android:label="@string/select_file"
            android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>
